{% extends "base.html" %}
{% block content %}
<div class="jumbotron"></div>
<h2 class="row-no-bottom-margin">Upcoming Events</h2>
<div class="row events">
  {% for category, items in categories %}
    {% if category.name.lower() == 'events' %}
      {% set events = items|reverse()|rejectattr('happened')|list() %}
      {% for event in events[:4] %}
  <div class="col25">
    <h2>{{ event.title }}</h2>
    <p class="metadata">{{ event.locale_date }}</p>
    {% if event.type == 'talk' %}
      <p>A talk by {{ event.speaker }}.</p>
    {% else %}
      {{ event.summary }}
    {% endif %}
    <div class="btn">
      <a href="/events#{{ event.slug }}" class="btn-readmore">
        <span>Read More</span>
      </a>
    </div>
  </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
<div class="row">
  <div class="col75">
    <h2>About Us</h2>
    {% for page in pages %}
      {% if page.slug == 'about' %}
        {{ page.summary }}
      {% endif %}
    {% endfor %}
    <h2>News</h2>
    <p>
      Download our Autumn Newsletter for 2017
      <a href="/newsletters/autumnnewsletter2017.pdf" target="_blank">here</a>.
  </div>
  <div class="col25 projects">
    <h2>Projects</h2>
    <ul>
      {% for article in articles %}
      {% if article.category.name.lower() == 'projects' %}
      <li class="clearfix">
        <a href="{{ article.url }}"><h3>{{ article.title  }}</h3></a>
        <p>{{ article.short }}</p>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
