{% extends "base.html" %}
{% block content %}
<div class="row long-text">
  <h2>{{ article.title }}</h2>
  <p>{{ article.content }}</p>
</div>

{% if article.gallery %}
<div class='row gallery'>
  <h2>Gallery</h2>
  {% for path in article.gallery %}
  <div class='col25'>
    <img class='gallery-img' src='/{{ path }}'>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock content %}

{% block postfooter %}
  <div class="gallery-display">
    <div class="gallery-overlay">
      <div class="close">x</div>
      <div class="arrow arrow-left"></div>
      <img src="" class="gallery-item">
      <div class="arrow arrow-right"></div>
      <div class="caption"></div>
    </div>
  </div>
{% endblock %}
